.mainDiv {
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow-y: scroll;
}

.dayAppointmentMainDiv {
    width: 66%;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.dayAppointment_TopPart {
    width: 96%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.dayAppointment_TopSubPart {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
}

.dayAppointment_SecondPart {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(5, 170px);
    grid-template-rows: repeat(3, 70px);
    gap: 10px;
}

.time {
    width: 160px;
    background-color: #ecebe7;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unCheckTime {
    width: 160px;
    background-color: #bdbcb8;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multipleButtonDiv {
    display: flex;
    justify-content: space-between;
}

.postButton,
.editButton,
.deleteButton {
    background-color: #FF3B00;
    color: white;
    margin-left: 10px;
}


@media (max-width: 770px) {
    .main {
        width: 99vw;
    }

    .dayAppointmentMainDiv {
        width: 100%;
    }

    .dayAppointment_SecondPart {
        display: grid;
        grid-template-columns: repeat(4, 160px);
        grid-template-rows: repeat(4, 70px);
    }

    .time {
        width: 150px;
    }

    .unCheckTime {
        width: 150px;
    }
}

@media (max-width : 426px) {
    .main {
        width: 99vw;
    }

    .dayAppointmentMainDiv {
        width: 100%;
    }

    .dayAppointment_TopPart{
        width: 89%;
        display: flex;
        flex-direction: column;
    }

    .dayAppointment_TopSubPart{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .dateDiv{
        width: 40%;
    }

    .dayAppointment_SecondPart {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(8, 70px);
    }

    .time {
        width: 170px;
    }

    .unCheckTime {
        width: 170px;
    }
}

@media (max-width: 376px){
    .dayAppointment_SecondPart {
        display: grid;
        grid-template-columns: repeat(2, 155px);
        grid-template-rows: repeat(8, 70px);
    }

    .time {
        width: 145px;
    }

    .unCheckTime {
        width: 145px;
    }
}

.mainDiv::-webkit-scrollbar{
    display: none;
}