.mainDiv{
    width: 100%;
    height: 70%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputDiv{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    height: 50px;
}

.inputFieldLabel{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: #FF3B00;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
}

.inputFieldValue{
    width: 70%;
    font-size: 17px;
    margin-left: 15px;
}

.ButtonDiv{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cancelButton, .conformButton{
    background-color: #FF3B00;
    color: #ffffff;
}

@media (max-width: 426px){
    .inputDiv{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    height: 50px;
}

.inputFieldLabel{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #FF3B00;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
}

.ButtonDiv{
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
}