* {
    padding: 0;
    margin: 0;
}

#sideBarMainDiv {
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.profileImage {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.list {
    list-style-type: none;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName{
    margin-top: 10px;
}

#bottom{
    height: 90%;
    overflow-y: scroll;
}


#bottom::-webkit-scrollbar{
    display: none;
}

#bottom .list{
    display: flex;
        flex-direction: column;
        justify-content: start;
        width: 20vw;
        border-radius: 10px;
        margin-top: 15px;
}

#bottom .list .listItem {
    height: 30px;
    width: 18vw;
    margin: 5px auto 10px auto;
    background-color: #E6E4E4;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.items{
    margin-left: 5px;
    color: black;
    font-size: 18px;
}


#bottom .list .listItem:hover{
    animation: smooth 2s forwards;
}

@keyframes smooth{
    0%{
       background-color: #E6E4E4; 
    }
    50%{
       background-color: #d2d1d1; 
    }
    100%{
        background-color: #bdbdbd;;
    }
}


@media (max-width:1024px){

    #bottom .list{
    display: flex;
        flex-direction: column;
        justify-content: start;
        width: 25vw;
        border-radius: 10px;overflow-y: scroll;
}

#bottom .list .listItem {
    height: 30px;
    width: 18vw;
    margin: 5px auto 10px auto;
    background-color: #E6E4E4;
    border-radius: 10px;
    padding: 10px;
}

}