.MainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RightPart {
    width: 50vw;
    height: 100vh;
}

.LeftPart {
    width: 50vw;
    height: 100vh;
    background-color: white;
}

@media (max-width: 426px) {
    .MainDiv {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .LeftPart {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
}