
.mainDiv{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.heroSection{
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(162, 153, 153);
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
}

.heroSection::-webkit-scrollbar{
    display: none;
}

.h1{
    color: black;
    font-size: 40px;
}

.p{
    color: black;
    font-size: 15px;
}

.second{
    /* font-weight: 200; */
    color: #8C8D8B;
}

.inputDiv{
    height: 40px;
    border: 2px solid rgb(209, 205, 205);
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 2px 5px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.passwordLabel{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.forgetpassword{
    color: #FF3B00;
}

.inputField{
    height: 20px;
    width: 90%;
    outline-color: transparent;
    border: transparent;
    margin-left: 5px;
    
}

.submit{
    height: 40px;
    background-color: #FF3B00;
    color: white;
    width: 100%;
    margin-top: 35px;
    font-size: 18px;
    border-radius: 10px;
    border: transparent;
}

.para{
    text-align: center;
    width: 100%;
}

.loginway{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.loginOption{
    display: flex;
    align-items: center;
    width: 100px;
    border: 2px solid rgb(162, 153, 153);
    padding: 10px;
    border-radius: 10px;
}

.optionName{
    margin-left: 10px;
    font-size: 17px;
}