.cardMainDiv {
    height: 90vh;
    width: 88vw;
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(5, 320px);
    overflow-y: scroll;
}

.notFoundDiv {
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 20px;
    color: black;
}

@media (max-width:770px) {
    .cardMainDiv {
        height: 95vh;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(2, 310px);
        grid-template-rows: repeat(5, 320px);
        overflow-y: scroll;
    }

    .notFoundDiv {
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFound {
        font-size: 18px;
        color: black;
    }
}

@media (max-width:426px) {
    .cardMainDiv {
        height: 95vh;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(5, 260px);
        overflow: scroll;
    }

    .notFoundDiv {
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFound {
        font-size: 18px;
        color: black;
    }
}