.cardMainDiv {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(5, 320px);
}

.notFoundDiv {
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 20px;
    color: black;
}

@media (max-width:770) {
    .cardMainDiv {
        display: grid;
        grid-template-columns: repeat(2, 310px);
        grid-template-rows: repeat(5, 320px);
    }

    .notFoundDiv {
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFound {
        font-size: 18px;
        color: black;
    }
}

@media (max-width:425) {
    .cardMainDiv {
        display: grid;
        grid-template-columns: repeat(1, 410px);
        grid-template-rows: repeat(5, 320px);
    }

    .notFoundDiv {
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFound {
        font-size: 18px;
        color: black;
    }
}