.ReportMainDiv {
    height: 95wh;
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(5, 520px);
    margin-left: 20px;
    overflow: scroll;
}

.cardMainDiv {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.itemDiv {
    width: 90%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.itemLabel {
    width: 50%;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.itemValue {
    width: 50%;
    font-size: 18px;
    color: black;
    font-weight: normal;
    overflow: hidden;
}

.downloadButton {
    background-color: #FF3B00;
    color: white;
}

.ReportMainDiv::-webkit-scrollbar {
    display: none;
}