.mainDiv {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
}

.DoctorInfo_Div{
    width: 300px;
    height: 85%;
    background-color: #ffffff;
    margin-right: 10px;
     border-radius:10px;
}

.DoctorProfile{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

.DoctorProfile_Image{
    width: 100px;
    height: 100px;
}

.DoctorProfile_Detail{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}

.AppointmentInfo_Div{
    width: 70%;
    border-radius:10px;
}

.AppointmentDate{
    width: 100%;
    display: flex;
}

.DateLabel{
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Date{
    width: 20%;
    border-radius: 0 10px 10px 0;
}

.AppointmentTime{
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(5, 70px);
    margin-top: 10px;
}

.Time{
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TimeSelect{
    background-color: #64c0f1;
    color: #ffffff;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TimeUnclickAble{
    background-color: #cdcbcb;
    color: black;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BookingButtonDiv{
    width: 73%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BookingButton{
    width: 100px;
    height: 50px;
    background-color: #FF3B00;
    color: #ffffff;
}


@media (max-width:1024px) {
    .AppointmentTime{
        display: grid;
        grid-template-columns: repeat(4, 160px);
    }
}

@media (max-width:768px) {

    .AppointmentInfo_Div{
        width: 100%;
    }

    .AppointmentDate{
        width: 100%;
    }

    .Date{
        width: 20%;
    }

    .AppointmentTime{
        display: grid;
        grid-template-columns: repeat(4, 170px);
    }

    .BookingButtonDiv{
        width: 100%;
    }
}

@media (max-width:426px) {

    .Date{
        width: 50%;
    }

    .AppointmentTime{
        display: grid;
        grid-template-columns: repeat(2, 180px);
    }
}

@media (max-width:376px){
    .AppointmentTime{
        display: grid;
        grid-template-columns: repeat(2, 160px);
    }
}
